/*
 *  Node page component
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-accordion-time-width:  15%;
@pxl-accordion-title-width: 81%;
@pxl-accordion-arrow-width: 4%;

// Mixins
// -------------------------
.panel-group(@first-column-width: 0; @second-column-width: 97%; @icon-width:3%; @icon-collapsed: '\f105'; @icon-expanded: '\f107'; ) {
  margin-bottom: 0;

  .panel {
    border-radius: 0;
    border: none;
    background: none;
    box-shadow: none;

    .panel-heading {
      border-radius: 0;
      border: none;
      background: none;
      padding: 10px 0;

      a.accordion-toggle {
        display: block;
        font-family: @pxl-text-font-bold;
        #pxl-mixins.font-size-responsive(@resp-font-size-min, @resp-font-size-max);
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          text-decoration: none;
        }

        span {
          display: inline-block;
          margin: 0 -2px;
          vertical-align: top;
          #pxl-mixins.hyphenate();
          white-space: normal;

          &.tagungs-thema-time {
            width: @first-column-width;
            min-width: 60px;
            text-align: left;
          }

          &.tagungs-thema-first {
            width: 0;

            &.expandable {
              width: @first-column-width;
              min-width: 16px;

              &:before {
                display: inline-block;
                content: @icon-expanded;
                font-family: 'fontawesome';
              }
            }
          }

          &.tagungs-thema-title {
            width: (@second-column-width+@icon-width);

            &.expandable {
              width: @second-column-width;

              &:before when(@icon-width > 0) {
                display: inline-block;
                content: @icon-expanded;
                width: @icon-width;
                min-width: 16px;
                font-family: 'fontawesome';
              }
            }

            .subtitle {
              padding: 10px 0 0;
            }
            .referent {
              padding: 10px 0 0;
              font-family: 'HalisGrotesqueLightItalic';
            }
          }
        }

        &.collapsed {
          span {
            &.tagungs-thema-first.expandable {
              &:before {
                content: @icon-collapsed;
              }
            }

            &.tagungs-thema-title.expandable {
              &:before when(@icon-width > 0) {
                content: @icon-collapsed;
              }
            }
          }

          &:hover {
            span {
              &.tagungs-thema-first.expandable {
                &:before {
                  content: @icon-expanded;
                }
              }
              &.tagungs-thema-title.expandable {
                &:before when(@icon-width > 0) {
                  content: @icon-expanded;
                }
              }
            }
          }
        }
      }
    }

    .panel-collapse {
      .panel-body {
        margin: 0;
        padding: 0 0 0 @first-column-width;
        border: none;
        #pxl-mixins.wysiwyg-body();
      }
    }
  }
}


// General settings
// -------------------------
.node-page {
  margin: 40px 0;

  div.col-sm-12 {
    width: 100%;

    .field-name-title {
      h2 {
        margin-top: 0;
        font-family: @pxl-text-font-bold;
        #pxl-mixins.font-size-responsive(16px, 20px);
        text-transform: uppercase;
        color: @text-color;
      }
    }

    .field-name-body {
      #pxl-mixins.wysiwyg-body();
    }

    .field-name-tagungs-agenda {
      .panel-group(@pxl-accordion-time-width, @pxl-accordion-title-width, @pxl-accordion-arrow-width);
    }

    .field-name-praxisdialoge {
      .panel-group(@pxl-accordion-arrow-width, (100%-@pxl-accordion-arrow-width), 0);
    }
  }
}
