/*
 *  Content section (main content)
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-content-margin-tb: 20px;
@pxl-content-fading-height: 20px;

// Mixins
// -------------------------



// Main settings
// -------------------------

.container {
  // all container with background
  background-color: #fff;

  a {
    outline: none;

    &.active, &:hover, &:focus {
      outline: none;
    }
  }

}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  min-height: 320px;
  overflow-y: hidden;
  background: transparent url(../images/start.jpg) no-repeat top center / cover;

  &.page-node-19 {
    // tagung
    background: transparent url(../images/programm.jpg) no-repeat top center / cover;
  }
  &.page-node-20 {
    // praxisdialoge
    background: transparent url(../images/praxisdialoge.jpg) no-repeat top center / cover;
  }
  &.page-node-21 {
    // anmeldung
    background: transparent url(../images/anmeldung.jpg) no-repeat top center / cover;
  }

  .main-container {
    position: absolute;
    top: (@pxl-header-height-mobile + @pxl-content-margin-tb);
    bottom: @pxl-footer-margin-bottom;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    width: 95%;
    max-width: @pxl-container-width;
    background: none;

    @media @tablet {
      top: (@pxl-header-height-small + @pxl-content-margin-tb);
      width: 100%;
    }

    .scroll {
      overflow-y: auto;
      height: 100%;

      .container {
        //
        // Messages, Admin tabs and Action links and Main content
        div.row {
          section { // column(s)
            div.messages {
              margin-top: 20px;
            }
            ul.tabs--primary {
              margin: 20px 0 5px;
              li {
                float: right;
                a {
                  padding: 5px 10px;
                  font-family: @font-family-monospace;
                  font-size: @font-size-small;
                  border-radius: 0;
                }
              }
            }
            ul.action-links {
              margin: 0;
              li {
                float: right;
                a {
                  font-family: @font-family-monospace;
                  font-size: @font-size-small;
                }
              }
            }

            .closable-content {
              .fa-times {
                display: none;
              }
            }
          } // section

          //
          // main content region
          .region-content {
            #block-system-main {
              padding: 0 10px;
            }
          }
        }
      }
    }

    .fading {
      display: none; // will be enabled via event
      position: absolute;
      left: 0;
      right: 0;
      height: @pxl-content-fading-height;
      z-index: 10;

      &.fading-top {
        top: 0;
        #gradient.vertical(#fff, rgba(255,255,255,0));
      }
      &.fading-bottom {
        bottom: 0;
        #gradient.vertical(rgba(255,255,255,0), #fff);
      }
    }
  } // main-container

  footer {
    display:none;
  }

}

// front page with higher brand box and footer
body.front {
  .main-container {
    bottom: (@pxl-footer-height + @pxl-content-margin-tb);

    .scroll {
      div.row {
        section { // column(s)
          .closable-content {
            position: relative;

            .fa-times {
              cursor: pointer;
              display: block;
              position: absolute;
              top: @pxl-content-fading-height;
              left: 0;
              right: 10px;
              text-align: right;
              z-index: 20;
            }
          }
        }
      }
    }

    @media @tablet {
      top: @pxl-header-height + @pxl-content-margin-tb;
    }
  }

  footer {
    display: block;
  }
}
