/*
 *  Footer container
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-footer-margin-bottom: 50px;
@pxl-footer-height: (60px + @pxl-footer-margin-bottom);

// Mixins
// -------------------------



// Main settings
// -------------------------
footer.container {
  position: absolute;
  bottom: @pxl-footer-margin-bottom;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  border: none;
  background-color: transparent;

  .region-footer {
    .block {
      text-align: justify;

      p {
        display: inline-block;
        margin: 0 -2px;
        padding: 0 10px 0 0;
        width: 33.3333333%;

        &:last-child {
          padding-right: 0;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

