/*
 *  Header section (navigation)
 * --------------------------------------------------*/

// Variables
// -------------------------

@pxl-menu-height: 50px;
@pxl-brand-height: 100px;
@pxl-brand-height-small: 40px;

@pxl-navi-margin-top: 20px;

@pxl-header-height: (@pxl-menu-height + 2*@pxl-navi-margin-top + @pxl-brand-height);
@pxl-header-height-small: (@pxl-menu-height + @pxl-navi-margin-top + @pxl-brand-height-small);


// Mixins
// -------------------------



// Main settings
// -------------------------
body.navbar-is-fixed-top {
  padding-top: @pxl-header-height-small !important;

  &.admin-menu {
    padding-top: @pxl-header-height-small !important;
  }

  @media @tablet {
    padding-top: (@pxl-header-height-small + @pxl-navi-margin-top) !important;

    &.admin-menu {
      padding-top: (@pxl-header-height-small + @pxl-navi-margin-top) !important;
    }

    // main page with higher brand box
    body.page-node-18 & {
      padding-top: @pxl-header-height !important;

      &.admin-menu {
        padding-top: @pxl-header-height !important;
      }
    }
  }
}

header#navbar {
  border-bottom: none;
  background: transparent none;

  .container {
    padding: 0;
    background: transparent none;

    .navbar-header {
      float: none;

      .region-navigation {
        margin: @pxl-navi-margin-top 0 0;

        #block-system-main-menu {
          ul.menu {
            display: block;
            text-align: justify;

            li {
              display: inline-block;
              margin: 0 -2px;
              padding: 0 10px 0 0;
              width: 33.3333333%;

              &:last-child {
                padding-right: 0;
              }

              a {
                padding: 0 (@pxl-menu-height - 17px) / 2;
                width: 100%;
                height: 100%;
                font-family: @pxl-text-font-bold;
                font-size: 3vw;
                color: #fff;
                line-height: @pxl-menu-height;
                //letter-spacing: 0.2px;
                text-align: center;
                text-transform: uppercase;
                background-color: @pxl-color-blau;
                outline: none;

                &.active, &:hover, &:focus {
                  color: @pxl-color-braun;
                  background-color: @pxl-color-pfirsich;
                  outline: none;
                }

                @media @tablet {
                  font-size: 17px;
                }
              }
            }
          }
        }
      }

      .navbar-site {
        margin: 0;
        padding: 0 @grid-gutter-width;
        height: @pxl-brand-height-small;
        white-space: nowrap;
        background-color: #fff;

        a.site-name {
          display: inline-block;
          float: none;
          margin: 0;
          padding: 0;
          height: auto;
          font-family: @pxl-text-font-bold;
          font-size: 2.8vw;
          color: @pxl-color-blau;
          line-height: @pxl-brand-height-small;
          text-transform: uppercase;
        }

        .site-lead {
          display: inline-block;
          margin: 0 0 0 -4px;
          padding: 0;
          font-family: @pxl-text-font;
          font-size: 2.8vw;
          color: @pxl-color-blau;
          line-height: @pxl-brand-height-small;
          text-transform: uppercase;

          &:before {
            content: "-";
            padding: 0 0.3vw;
          }
        }

        @media @tablet {
          margin: @pxl-navi-margin-top 0 0;
          padding: 0 @grid-gutter-width/2;

          a.site-name {
            font-size: 17px;
          }
          .site-lead {
            font-size: 17px;
          }

          // main page with higher brand box
          body.page-node-18 & {
            padding: 10px @grid-gutter-width/2;
            height: @pxl-brand-height;
            white-space: normal;

            a.site-name {
              display: block;
              font-size: 30px;
              text-decoration: underline;
            }
            .site-lead {
              display: block;
              margin: 0;
              font-size: 25px;

              &:before {
                content: "";
                padding: 0;
              }
            }
          }
        }
      }

      button.navbar-toggle {
        display: none;
      }
    }

    .navbar-collapse {
      display: none;
    }
  }
}

